/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.happy{
	float:left;
	height: 50vh;
	width: 100vw;
  background: #2f6651;
}
.holidays{
	float:left;
	height: 50vh;
	width: 100vw;
  background:#4c3356;
}
