/* Base Application Styles */
body {
  background: #4c3356;
  font-family: "Nocturno Display Regular 7";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}
.pen1{
  float:left;
  height:20vh;
  width:100vw;
  background:#2f6651;
}
.pen2{
  float:left;
  height:20vh;
  width:100vw;
  background:#e0ddc0;
}
.pen3{
  float:left;
  height:20vh;
  width:100vw;
  background:#4c3356;
}
.happy{
	float:left;
	height: 47vh;
	width: 100vw;
  background: #2f6651;
}
.holidays{
	float:left;
	height: 47vh;
	width: 100vw;
  background:#4c3356;
}
.and{
	float:left;
	height: 50vh;
	width: 100vw;
  background:#2f6651;
}
.number{
  float:left;
  height: 25vw;
  width: 25vw;
  &.two{
    background:#d84141;
  }
  &.zero{
    background:#1d332f;
  }
  &.one{
    background:#e0ddc0;
  }
  &.six{
    background:#4c3356;
  }
}
.content{
  float:left;
  width: 100%;
  background: #d84141;
  color:#e0ddc0;
  padding:100px 0;
  .block{
    max-width:620px;
    margin:0 auto;
    font-size:18px;
    padding:0 20px;
    img{
      width: 100%;
      &:first-child{
        margin-bottom:30px;
      }
      &.second{
        margin-top:30px;
      }
    }
    a{
      font-family: "Nocturno Display Bold 11";
      font-style: normal;
      font-weight: normal;
      font-stretch: normal;
      color:#e0ddc0;
      text-decoration:none;
      &.github{
        display:block;
        width: 50px;
        height: 50px;
        margin:30px auto;
        img{
          opacity:1;
          width: 100%;
          transition:opacity .3;
          &:hover{
            opacity:.8;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 760px) {
    .res{
      line-height: 0;
      height:auto;
    }
}
@media only screen and (max-width: 500px) {
    .number{
      width: 50vw;
    }
}
